@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    background-color: #F9FAFC;
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 97%;
    justify-content: flex-start;
    color: #C2C7CD;
    display: flex;
    margin: 0 20px;
    align-items: center;
    padding: 10px 0;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-right: 4%;
    border-right: 2px solid #C2C7CD;
}

.notifications{
    margin-right: 50px;
}

.account-menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.account{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.account-avatar img{
    object-fit: contain;
    border-radius: 50%;
    width: 40px;
    margin-left: 10px;
}

.new-book{
    width: 50%;
    display: flex;
    align-items: center;
}



.new-book button{
    color: black;
    border-radius: 100px;
    border: 2px solid #C2C7CD;
    width: 90%;
    outline: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}





.new-book button:hover{
    background-color: #FEEDB5;
}

.border-bottom{
    height: 1px;
    background-color: #C2C7CD;
    width: 100%;
}


.body-content{
    display: flex;
    height: 90vh;
}

.sidebar-nav{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
    border-right: 1px solid #C2C7CD;
}

.sidebar-nav .logo{
    height: 10%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    width: 70%;
}

.sidebar-nav .logo img{
    object-fit: contain;
    height: 60%;
}

.sidebar-menu-options{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10%;
    border-bottom: 1px solid #C2C7CD;
}

.sidebar-menu-options > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
}

.sidebar-menu-options > a > img{
    object-fit: contain;
    width: 30px;
}

.sidebar-menu-options > a p{
    margin: 0;
    margin-left: 20px;
}

.sidebar-menu-options > a:hover{
    background-color: #FEEDB5;
    cursor: pointer;
}

.sidebar-menu-options .active{
    background-color: #FEEDB5;
}



.sidebar-footer{
    height: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.copyright{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  2px 2px 10px #bebebe, -2px -2px 10px #ffffff;
    height: 50%;
    padding-left: 20px;
}

.copyright img{
    object-fit: contain;
    height: 30%;
    margin-right: 10px;
}

.middle-container{
    width: 51%;
    padding: 3% 5%;
    background-color: #f1f1f1;
    border-right: 1px solid #bebebe;
}

.admin-salutation{
    height: 150px;
    width: 88%;
    background-color: #FEEDB5;
    border-radius: 20px;
    padding: 2% 5%;
    position: relative;
    color: white;
}

.admin-actions{
    display: flex;
    justify-content: space-around;
}

/* .admin-actions > a{
    width: 30%;
} */


.admin-salutation > *:not(.admin-salutation-cover){
    position: relative;
    z-index: 1;
}

.admin-salutation-cover{
    position: absolute;
    background-image: url(/resources/images/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.admin-salutation h2{
    margin-bottom: 40px;
}

.admin-salutation a{
    text-decoration: none;
    background-color: rgb(70, 56, 56);
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 20%;
    display: block;
    text-align: center;
}

.admin-salutation a:hover{
    background-color: #bebebe;
    cursor: pointer;
}

.admin-library-info-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 25px;
    margin-top: 10px;
    height: 200px;
}

.admin-library-info-container > div{
    display: flex;
    justify-content: space-around;
    background-color: #F9FAFC;
    border-radius: 20px;
    align-items: center;
    padding: 20px 0;
}

.admin-library-info-container > div > i{
    background: #FEEDB5;
    border-radius: 10px;
    padding: 20px;
}

.right-pane{
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    padding: 10px;
}

.latest-section-header{
    height: 5%;
}

.latest-book{
    height: 30%;   
}

.latest-book-container{
    display: flex;
    flex-direction: row;
    height: 40%;
    text-align: center;
    align-items: center;
}


.book-cover{
    height: 20%;
    width: 30%;
}

.book-cover-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.book-header{
    width: 70%;
}

.book-summary{
    width: 100%;
    background-color: #F9FAFC;
}

.summary-header{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-header h4{
    margin: 0;
    cursor: pointer;
    width: 80%;
}


.fa-angle-down{
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}


.book-summary .content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.content.active{
    max-height: fit-content;
    transition: max-height 0.5s ease-in;
}




